@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

.lat-lng {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 1px solid black;
    border-radius: 16px;
}
  
.lat-lng input {
    margin: 0px 0.5rem;
    padding: 0.5rem;
}